{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ question.question_text }}{% endblock %}
{% block content %}
{% if question %}
<div class="parallax-container" style="height: 100%;">
    <div class="parallax">
        {% if question.question_img %}
            <img src="{{ question.question_img.url }}" alt="">
        {% endif %}    
    </div>
    <div class="row"></div>"
    <div class="row">
        <div class="col s4">
            <div class="container">
                {% block detail %}
                    {% include 'polls/vote.html' %}
                {% endblock %}
            </div>
        </div>
        {% block index %}{% endblock %}
    </div>
</div>
{% else %}
<div class="container">
    <div class="row"><h3>No polls are available.</h3></div>
</div>    
{% endif%}

{% endblock %}

{% block extrajs %}{% endblock %}
