{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
<div class="parallax-container" style="height: 100%;">
    <div class="parallax"><img src="/static/{{ question.question_img}}"></div>
        <div class="container">
            <form method="post" id = "form1">
                {% csrf_token %}    
                <div class="row">        
                    <h4 class="header col s12   white-text"> {{ question.question_text }}
                    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="online-polling">Tweet</a>  
                    </h4> 
                    <div class="col s6 m4">        
                        <div class="card white " style="opacity: 0.8">
                            <div class="card-content">
                                {% for choice in form.ch %}
                                    <div class="row">   
                                        <div class="col s6">{{ choice.tag }} <label class="bold black-text" for="{{ choice.id_for_label }}">{{ choice.choice_label  }}</label> </div>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>  
                    </div>      
                </div>         
                {% if not user.is_authenticated %} 
                    <div id="modal1" class="modal modal-fixed-footer" style="width: 30%; height: 22%; z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 183.058px;">
                        <div class="modal-content  black-text">
                            <h3>Online polling</h3>
                            <p>In order to vote you must register</p>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-action modal-close waves-effect waves-red btn-flat" href="#!">Disagree</a>
                            <button class="input modal-action waves-effect waves-green btn-flat"  type="submit" name="vote" value="vote">Registration</button>
                        </div>
                    </div>
                {% endif %}  
            </form>         
        </div>    
    </div>
</div>
        

{% endblock %}

{% block extrajs %}
    {% if user.is_authenticated %}  
        <script src="{% static 'js/detail_auth.js' %}"></script>   
    {% else %}    
        <script src="{% static 'js/detail_noauth.js' %}"></script>   
    {% endif %}  
    <script>
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
                js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

{% endblock %}
