{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
<div class="parallax-container" style="height: 100%;">
    <div class="parallax"><img src="/static/{{ question.question_img}}"></div>
        <div class="container">
            <form method="post">
                {% csrf_token %}    
                <div class="row">        
                    <h4 class="header col s12   white-text"> {{ question.question_text }}</h4>
                    <div class="col s6 m4">        
                        <div class="card grey " style="opacity: 0.8">
                            <div class="card-content">
                                {% for choice in form.ch %}
                                    <div class="row">   
                                        <p class="col s6">{{ choice.tag }} <label class="bold white-text" for="{{ choice.id_for_label }}">{{ choice.choice_label  }}</label> </p>
                                    </div>
                                {% endfor %}  
                            </div>    
                        </div>  
                    </div>      
                </div>         
                <div class="row">        
                    <div class="col s2">               
                        
                            {% if user.is_authenticated %} 
                                <button id="button1" class="waves-effect btn waves-light" type="submit" name="vote" value="vote">Submit
                                    <i class="material-icons right">send</i>            
                                </button>
                            {% else %}    
                                <div id="modal1" class="modal modal-fixed-footer" style="width: 30%; height: 22%; z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 183.058px;">
                                    <div class="modal-content  black-text">
                                        <h3>Online polling</h3>
                                        <p>In order to vote you must register</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-action modal-close waves-effect waves-red btn-flat" href="#!">Disagree</a>
                                        <button class="input modal-action waves-effect waves-green btn-flat"  type="submit" name="vote" value="vote">Registration</button>
                                    </div>
                                </div>
                                <a id="button2" class="modal-trigger waves-effect waves-light btn" href="#modal1">Submit
                                    <i class="material-icons right">send</i> 
                                </a>            
                            {% endif %}  
                        
                    </div>  
                </div>      
            </form>         
        </div>    
    </div>
</div>
        

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
