{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h4 class="header col s12 black-text"> {{ question.question_text }}</h4>
        {% if form.ch.errors %}
           <h4 class="header col s12 red-text"> You should choose and submit!</h4>            
        {% endif %}
    </div>    
</div>        

<form method="post">
    <div class="container">
        <div class="row">
            {% csrf_token %}
            {% for choice in form.ch %}
                <p class="col s12">
                 {{ choice.tag }}
                <label class="green-text accent-4" for="{{ choice.id_for_label }}">{{ choice.choice_label  }}</label>
                </p>
            {% endfor %}            
        </div>       
    </div>

    <div class="container">
        <div class="row">
            {% if user.is_authenticated %} 
                <button class="waves-effect btn waves-light" type="submit" name="vote" value="vote" >Submit
                <i class="material-icons right">send</i>            
                </button>
            {% else %}    
            
            {% endif %} 
        </div>    
    </div>                
</form>
    
{% if user.is_authenticated %} 
{% else %}    
    <div class="container">
        <div class="row">            
             <div id="modal1" class="modal modal-fixed-footer " style="width: 30%; height: 22%; z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 183.058px;">
                <div class="modal-content">
                    <h3>Online polling</h3>
                    <p>In order to vote you must register</p>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-red btn-flat " href="#!">Disagree</a>
                    <a class="modal-action modal-close waves-effect waves-green btn-flat " href= {% url 'registration'%}>Registration</a>
                </div>
            </div>
            <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Submit
            <i class="material-icons right">send</i> 
            </a>
        </div>    
    </div>                    
{% endif %} 

{% endblock %}
