{% extends "base.html" %}
{% load i18n static %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 black-text" >  
            {% if latest_question_list %}
                <div class="collection">
                {% for question in latest_question_list %}
                    <li class="collection-item avatar">{% if question.question_img %}<img src="/static/{{ question.question_img}}" alt="" class="circle">{% endif %}<a class="collection-item black-text" href="{% url 'detail' question.id %}">{{ question.question_text }}</a>
                {% endfor %}
                </div>
                {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>
 </div>      
{% endblock %}
