<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Online polling &mdash; {% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<header>  
    <nav class="green accent-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">Online polling</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about">About</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login" class="modal-trigger">Login</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
{% block content %}{% endblock %}
</main>

  
<footer>
    <div class="footer-copyright green accent-4">
        <br>
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://hidevlab.com">HiDevlab</a>
            </div>
        <br> 
    </div>
</footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  {% block extrajs %}{% endblock %}


  </body>
</html>
