 <!-- Modal Structure 
         
            <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Attention</h4>
                  <p>AYou should choose and submit!</p>
                </div>
            </div>
            {% block extrajs %}
                <script>
                    $(document).ready(function(){
                        $('#modal1').openModal();
                    });
                </script>      
            {% endblock %} -->  
