{% load static i18n %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Online polling</title>
</head>

    <body>
        <h2 class="messageSubjectValue">Account activation on the website online-polling.com</h2>
            <br>
            <p>To complete registration, follow the activation link in your email-address:</p>
            <p><a href="{{ reference }}"></a></p>
            <p>To complete the account activation procedure.</p>
    </body>
</html>
