{% load static i18n %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Online polling</title>
</head>

    <body>
        <h2 class="messageSubjectValue">Daily reports about new polls on the website online-polling.com</h2>
        <br>
        <table >
            <tr>
                <th>Question</th>
                <th>Date published</th>
            </tr>
            {% for q in report%}
            <tr>

                <td>{{q.question_text }}</td><td>{{q.pub_date }}</td
                
            </tr>
            {% endfor %}
                
        </table>
    </body>
</html>
