{% extends "base.html" %}
{% load i18n static %}

{% block title %}Registration on website online-polling{% endblock %}

{% block content %}
<div class="row"></div>
<div class="container">
    <div class="row">
        <form method="POST" action="" class="card grey lighten-5 col s4 offset-s4">{% csrf_token %}
            <div class="card-content black-text">
                <span class="card-title">Confirm your email</span>
                {% if form.username.help_text %}
                <div class="row tooltipped" data-position="left" data-delay="50" data-tooltip="{{ form.username.help_text }}">    
                {% else %}
                <div class="row">    
                {% endif %}
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        <div class="inputerror">{{ form.username.errors.as_text}}</div> 
                    </div>    
                </div>
                
                {% if form.password.help_text %}
                <div class="row tooltipped" data-position="left" data-delay="50" data-tooltip="{{ form.password.help_text }}">    
                {% else %}
                <div class="row">    
                {% endif %}
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        {{ form.password }}
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        <div class="inputerror">{{ form.password.errors.as_text}}</div> 
                    </div>    
                </div>
                
                <div class="card-action">
                    <button class="waves-effect btn waves-light" type="submit" name="login" value="login">Confirm
                    <i class="material-icons right">check_circle</i>            
                    </button>
                </div>
            </div>    
        </form> 
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/htmltooltip.js' %}"></script>   
{% endblock %}
