{% extends "base.html" %}
{% load i18n static %}
{% load socialaccount %}
{% block title %}Login on website {{ site.site_name }}{% endblock %}

{% block content %}
<div class="row"></div>
<div class="container">
    <form method="POST" action="">{% csrf_token %}
        <div class="row">
            <div class="card grey lighten-5 col s4 offset-s4">
                <div class="card-content row center-align">
                    <span class="card-title center-align">{{ site_name}}</span>                 
                    {% if form.username.help_text %}
                    <div class="row tooltipped" data-position="left" data-delay="50" data-tooltip="{{ form.username.help_text }}">    
                    {% else %}
                    <div class="row">    
                    {% endif %}
                        <div class="input-field col s12">
                            <i class="mdi-communication-email prefix"></i>
                            {{ form.username }}
                            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            <div class="inputerror">{{ form.username.errors.as_text}}</div> 
                        </div>    
                    </div>
                    
                    {% if form.password.help_text %}
                    <div class="row tooltipped" data-position="left" data-delay="50" data-tooltip="{{ form.password.help_text }}">    
                    {% else %}
                    <div class="row">    
                    {% endif %}
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            {{ form.password }}
                            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                            <div class="inputerror">{{ form.password.errors.as_text}}</div> 
                        </div>    
                    </div>
                
                    <div class="row center-align">
                        <div class="col s12">
                            <button class="waves-effect btn waves-light" style ="width:100%" type="submit" name="login" value="login">Log in
                                <i class="mdi mdi-login left"></i>            
                            </button>
                        </div> 
                    </div>                       
                    <div class="row divider"></div><div class="row"></div>
                    <div class="row center-align">
                        <div class="col s12">
                            <a class="waves-effect btn waves-light" style="width:100%; background-color: #3b5998;  text-transform: capitalize;" href="{% provider_login_url 'facebook' method='oauth2' %}">Login with Facebook
                            <i class="mdi mdi-facebook-box left"></i>            
                            </a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>    
        <div class="row">
            <div class="card grey lighten-5 col s4 offset-s4" style="font-size: 120%">
                <div class="card-content row center-align">Don't have an account? 
                    <a href="/registration">Click here</a>
                </div>
            </div>
        </div>
    </form> 
</div>
{% endblock %}
