{% extends "base.html" %}
{% load i18n static %}

{% block title %}Password change{% endblock %}

{% block content %}
<div class="row"></div>
<div class="container">
    <div class="row">
        <form method="POST" action="" class="card grey lighten-5 col s4 offset-s4">{% csrf_token %}
            <div class="card-content black-text ">
                <span class="card-title">Password change</span>
                {% for input in form %}
                    {% if input.help_text %}
                    <div class="row tooltipped" data-position="left" data-delay="50" data-tooltip="{{ input.help_text }}">    
                    {% else %}
                    <div class="row">    
                    {% endif %}
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            {{ input }}
                            <label for="{{ input.id_for_label }}">{{ input.label }}</label>
                            <div class="inputerror">{{ input.errors.as_text}}</div> 
                        </div>    
                    </div>
                {% endfor %}    
                <div class="card-action">
                    <button class="waves-effect btn waves-light" type="submit" name="change_password" value="change_password">Confirm
                    <i class="material-icons right">send</i>            
                    </button>
                </div>
            </div>    
        </form> 
    </div>
</div>
{% endblock %}


{% block extrajs %}
    <script src="{% static 'js/htmltooltip.js' %}"></script>   
{% endblock %}
